<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="500"
>
  <div class="container">
    <div class="navbar-translate">
      <a class="logo-container" routerLink="home"
        ><img class="logo" src="assets/img/logo.png" style="width: 35%"
      /></a>
      <button
        class="navbar-toggler navbar-burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo02"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="sidebarToggle()"
      >
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="planner">Travel planner </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="planets">Planets </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="packages">Travel packages </a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="login">Login </a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="signup">Sign-Up </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item log-out-link">
          <a class="nav-link" routerLink="orders">Orders </a>
        </li>
        <li *ngIf="isLoggedIn && isAdmin" class="nav-item log-out-link">
          <a class="nav-link" routerLink="statistics">Statistics </a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item log-out-link" (click)="logout()">
          <a class="nav-link">Log-Out </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
