img:hover {
  cursor: pointer;
}

.planet img.static {
  display: block;
}

.planet:hover img.static {
  display: none;
}

.planet img.animated {
  display: none;
}

.planet:hover img.animated {
  display: block;
}