<div class="wrapper" id="planets">
  <div
    *ngIf="showHeader"
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/main.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="container">
    <div class="tim-title">
      <h3>Available planets to explore</h3>
    </div>
    <div class="d-flex justify-content-around mb-3 row">
      <div class="col-sm-6 col-md-4 planet" (click)="open('Earth')">
        <img
          src="assets/img/planets/static/earth-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/earth.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Earth</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Mars')">
        <img
          src="assets/img/planets/static/mars-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/mars.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Mars</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Mercury')">
        <img
          src="assets/img/planets/static/mercury-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/mercury.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Mercury</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Carina')">
        <img
          src="assets/img/planets/static/carina-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/carina.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Carina</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Milky Way')">
        <img
          src="assets/img/planets/static/milkyway-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/milkyway.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Milky Way</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Oister')">
        <img
          src="assets/img/planets/static/oister-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/oister.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Oister</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Jupiter')">
        <img
          src="assets/img/planets/static/jupiter-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/jupiter.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Jupiter</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Venus')">
        <img
          src="assets/img/planets/static/venus-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/venus.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Venus</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Pluto')">
        <img
          src="assets/img/planets/static/pluto-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/pluto.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Pluto</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Saturn')">
        <img
          src="assets/img/planets/static/saturn-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/saturn.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Saturn</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Uranus')">
        <img
          src="assets/img/planets/static/uranus-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/uranus.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Uranus</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Moon')">
        <img
          src="assets/img/planets/static/moon-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/moon.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Moon</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Neptune')">
        <img
          src="assets/img/planets/static/neptune-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/neptune.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Neptune</p>
      </div>
      <div class="col-sm-6 col-md-4 planet" (click)="open('Nebula')">
        <img
          src="assets/img/planets/static/nebula-0.png"
          class="img-circle img-no-padding img-responsive static"
          alt="Rounded Image"
        />
        <img
          src="assets/img/planets/nebula.gif"
          class="img-circle img-no-padding img-responsive animated"
          alt="Rounded Image"
        />
        <p class="text-center">Nebula</p>
      </div>
    </div>
  </div>
</div>
