<div class="wrapper">
  <div
    class="page-header section-dark"
    style="background-image: url('assets/img/main.jpg')"
  >
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <h1 class="presentation-title mb-3">Explore The Galaxy</h1>
          <div class="fog-low">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
          <div class="fog-low right">
            <img src="assets/img/fog-low.png" alt="" />
          </div>
        </div>

        <h2 class="presentation-subtitle text-center">
          Plan a trip to another planet!
        </h2>

        <div class="row text-center mt-4">
          <div class="col-md-12">
            <button
              routerLink="/planner"
              type="button"
              class="btn btn-primary btn-round btn-lg"
            >
              Find &nbsp;<i class="nc-icon nc-zoom-split"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
