<div style="margin-top: 100px; text-align: center">
  <h4>Registration</h4>
  <div style="margin-top: 25px">
    <div>
      <input type="text" placeholder="Username" required />
    </div>
    <div style="margin-top: 5px">
      <input type="password" placeholder="password" required />
    </div>
    <div style="margin-top: 5px">
      <input type="password" placeholder="confirm password" required />
    </div>
    <div style="margin-top: 5px">
      <input type="text" placeholder="First name" required />
    </div>
    <div style="margin-top: 5px">
      <input type="text" placeholder="Last name" required />
    </div>
    <div style="margin-top: 5px">
      <input type="email" placeholder="Email" required />
    </div>
    <div style="margin-top: 5px">
      <input type="text" placeholder="Phone number" required />
    </div>
    <div style="margin-top: 5px">
      <button routerLink="/login">Register</button>
    </div>
  </div>
</div>
