<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/main.jpg')">
    <div class="filter"></div>
  </div>
  <div class="container my-5">
    <div class="card">
      <div class="card-title">
        <strong>Travel Planner, powered by AI</strong>
      </div>
      <div class="card-body">
        <p>Welcome to the most inteligent and smartest AI travel planner! Don't know which destination to choose 
          from the vast variety that we offer? Do not worry! Just fill out this questionaire (powered by AI) below and you will get a
           suggestion of the most fit planet that you should visit!
          <br><br>
          P.S. <strong>Powered by AI</strong>
          <br><br><br>
          BTW, did we mention that this questionaire is smarter than you and <strong>Powered by AI</strong>?
          <br><br>
          LET'S START!
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-sm-12 col-md-12">
        <h4 class="mt-0 mb-3">
          <strong>Prefered travel duration</strong>
        </h4>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="option1"
              />
              Up to 24 hours
              <span class="form-check-sign"></span>
            </label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="option1"
              />
              Up to 1 month
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="option1"
              />
              Over 9000
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                value="option1"
              />
              I don't care
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 class="mt-5 mb-3">
          <strong>Prefered weather season</strong>
        </h4>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios2"
                id="exampleRadios2"
                value="option2"
              />
              Summer
              <span class="form-check-sign"></span>
            </label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios2"
                id="exampleRadios2"
                value="option2"
              />
              Winter
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios2"
                id="exampleRadios2"
                value="option2"
              />
              Autumn
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios2"
                id="exampleRadios2"
                value="option2"
              />
              Spring
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 class="mt-5 mb-3">
          <strong>Prefered free time activity</strong>
        </h4>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios3"
                id="exampleRadios3"
                value="option3"
              />
              Gaming
              <span class="form-check-sign"></span>
            </label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios3"
                id="exampleRadios3"
                value="option3"
              />
              Sleeping
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios3"
                id="exampleRadios3"
                value="option3"
              />
              Free time?
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="form-check-radio">
            <label class="form-check-label">
              <input
                class="form-check-input"
                type="radio"
                name="exampleRadios3"
                id="exampleRadios3"
                value="option3"
              />
              I don't care
              <span class="form-check-sign"></span>
            </label>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <h4 class="mt-5 mb-3">
            <strong>Favourite food</strong>
          </h4>
        </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios4"
                  id="exampleRadios4"
                  value="option4"
                />
                Pizza
                <span class="form-check-sign"></span>
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios4"
                  id="exampleRadios4"
                  value="option4"
                />
                Pizza
                <span class="form-check-sign"></span>
              </label>
            </div>  
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios4"
                  id="exampleRadios4"
                  value="option4"
                />
                Pizza
                <span class="form-check-sign"></span>
              </label>
            </div>  
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="form-check-radio">
              <label class="form-check-label">
                <input
                  class="form-check-input"
                  type="radio"
                  name="exampleRadios4"
                  id="exampleRadios4"
                  value="option4"
                />
                Pizza
                <span class="form-check-sign"></span>
              </label>
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h4 class="mt-5 mb-3">
              <strong>How much do you believe in aliens?</strong>
            </h4>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12">
            <p class="mb-2"><strong>0 - 100</strong></p>
            <nouislider
              [(ngModel)]="alienBelief"
              [connect]="false"
              [min]="0"
              [max]="100"
              [step]="1"
              [tooltips]="true"
              class="slider"
            ></nouislider>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <h4 class="mt-5 mb-3">
              <strong>Which way do you hang your toilet paper roll?</strong>
            </h4>
          </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios5"
                    id="exampleRadios5"
                    value="option5"
                  />
                  Over, bruh
                  <span class="form-check-sign"></span>
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <div class="form-check-radio">
                <label class="form-check-label">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios5"
                    id="exampleRadios5"
                    value="option5"
                  />
                  I am insane and I hang it under
                  <span class="form-check-sign"></span>
                </label>
              </div>  
            </div>
          </div>
          


    <div class="row justify-content-center mt-5">
      <button
        type="button"
        class="btn btn-outline-danger btn-round mr-3"
        routerLink="/home"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-default btn-round"
        routerLink="#"
      >
        Submit
      </button>
    </div>
  </div>
</div>

