<div class="wrapper">
    <div
      class="page-header page-header-xs"
      data-parallax="true"
      style="background-image: url('./assets/img/main.jpg')"
    >
      <div class="filter"></div>
    </div>
    <div class="container">
        <div class="my-4">
            <div class="d-flex justify-content-center"><h3>Revenue in 2021</h3></div>
            <div echarts [options]="chartOptions" class="demo-chart"></div>
        </div>
        <div class="my-4">
            <div class="d-flex justify-content-center"><h3>Most popular travel destinations</h3></div>
            <div echarts [options]="chartOptions2" class="demo-chart"></div>
        </div>
    </div>
  </div>
  

